@{
    ViewData["Title"] = "Home Page";
}

@*<*@<!--div class="container-fluid">-->
<!-- Page Heading -->
<!--<h1 class="h3 mb-4 text-gray-800">Blank Page</h1>

</div>-->

<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <!-- Información General del Niño-->

        <div class="row">
            <div class="col-12">
                <div class="card-box">
                    <div class="row">
                        <div class="col-12">


                            <div id="infoLefh" style="text-align: center">
                                <img id="img" src="~/img/freno2.jpg">
                            </div>

                            @*<br />
        <br />

        <div id="infoLefh" style="text-align: center">
            <img id="img" src="~/img/logo.jpeg">
        </div>*@

                            <br />
                            <br />
                            <br />
                            <br />

                            <div id="infoRigh">
                                <h1 class="text-center" style="color:#04699f">Misión</h1>

                                <br />

                                <h2 class="lead text-center" style="font-size:x-large">De acuerdo a las necesidades de los clientes, brindamos los mejores repuestos y soluciones para los sistemas de frenos de autobuses y camiones.</h2>

                            </div>

                            <br />
                            <br />
                            <br />
                            <br />

                            <div id="infoRigh">
                                <h1 class="text-center" style="color:#04699f">Vision</h1>

                                <br />

                                <h2 class="lead text-center" style="font-size:x-large">Ser la mejor opción para nuestros clientes. Ha obtenido logros destacados en el campo de la compra y venta de repuestos para vehículos pesados, así como en consultoría, reparación, servicio técnico, corrección y mantenimiento preventivo.</h2>

                            </div>

                            <br />
                            <br />




                        </div>

                    </div>
                    <!-- end row -->
                </div> <!-- end card-box -->
            </div><!-- end col -->
        </div>

    </div>
</div>
