@model FrontEnd.W.Models.Proveedor

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Proveedor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdProveedor" />
            <div class="form-group">
                <label asp-for="CedulaProveedor" class="control-label"></label>
                <input asp-for="CedulaProveedor" class="form-control" />
                <span asp-validation-for="CedulaProveedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaIngreso" class="control-label"></label>
                <input asp-for="FechaIngreso" class="form-control" />
                <span asp-validation-for="FechaIngreso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreProveedor" class="control-label"></label>
                <input asp-for="NombreProveedor" class="form-control" />
                <span asp-validation-for="NombreProveedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CorreoProveedor" class="control-label"></label>
                <input asp-for="CorreoProveedor" class="form-control" />
                <span asp-validation-for="CorreoProveedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Provincia" class="control-label"></label>
                <input asp-for="Provincia" class="form-control" />
                <span asp-validation-for="Provincia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Canton" class="control-label"></label>
                <input asp-for="Canton" class="form-control" />
                <span asp-validation-for="Canton" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Distrito" class="control-label"></label>
                <input asp-for="Distrito" class="form-control" />
                <span asp-validation-for="Distrito" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelefonoProveedor" class="control-label"></label>
                <input asp-for="TelefonoProveedor" class="form-control" />
                <span asp-validation-for="TelefonoProveedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CuentaBancariaProveedor" class="control-label"></label>
                <input asp-for="CuentaBancariaProveedor" class="form-control" />
                <span asp-validation-for="CuentaBancariaProveedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
